<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="img/newlogo.png" type="image/png">
    <link rel="stylesheet" href="css/login.css" />
    <link rel="shortcut icon" href="img/newlogo.png" type="image/png">

    <title>Localiyo - Forgot Password</title>
  </head>
  <body>
    
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">

          <form action="/forgot-password" class="sign-in-form" method="POST">
            <h2 class="title">Forgot Password</h2>
            <div class="input-field">
              <i class="fas fa-envelope "></i>
              <input type="text" name="emailid" id="emailid" placeholder="Enter Your Registered Email ID" required/>
            </div>
            <input type="submit" value="Submit" id="submit" class="btn solid" />
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <a href="/"><h1 id="nav-item" class="third">Localiyo</h1></a>
          <div class="content">
            <h3>Unable To Sign In ?</h3>
            <p>
              Don't Worry ! Reset Your Password And Get Into Your Localiyo Account Again...
            </p>
          </div>
          <img src="img/register.svg" class="image" alt="" />
        </div>
      </div>
    </div>

  </body>
</html>
