<!DOCTYPE html>
<html lang="en">

{{!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="img/newlogo.png" type="image/png">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" ">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/public/css/style.css">

    <title>Localiyo - Keeps You Updated !!!</title>
</head> --}}
<head>
{{>header}}
</head>


<body>
    {{!-- <header class="header" id="header">
        <nav class="nav container">
            <a href="index.html" class="nav__logo">Localiyo</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">About</a>
                    </li>
                    <li class="nav__item">
                        <a href="news.html" class="nav__link">News</a>
                    </li>
                    <li class="nav__item">
                        <a href="login.html" class="nav__link">Sign In</a>
                    </li>
                </ul>

                <div class="nav__dark">
                    <!-- Theme change button -->
                    <span class="change-theme-name">Switch Mode</span>
                    <i class="ri-moon-line change-theme" id="theme-button"></i>
                </div>

                <i class="ri-close-line nav__close" id="nav-close"></i>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-function-line"></i>
            </div>
        </nav>
    </header> --}}
    {{>navbar}}

    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home" id="home">
            <div id="slider" class="imageslider">
                    <img src="img/CS-1.gif" alt="" class="home__img">
                    <img src="img/CS-2.png" alt="" class="home__img">
                    <img src="img/CS-3.gif" alt="" class="home__img">
                    <img src="img/CS-1.gif" alt="" class="home__img">
            </div>
        </section>

        <!--==================== ABOUT ====================-->
        <section class="about section" id="about">
            <h2 class="feature-heading">Features We Provide</h2>
            <div class="about__container container grid">
                <div class="about__data">
                    <h2 class="section__title about__title">Connect & Discuss <br> In Your Locality</h2>
                    <p class="about__description">Connect with other localiyos, influencers, politicians and share your
                        queries, experience or just discuss about any topic popped in your mind.
                    </p>
                    <a href="#" class="button">Join Now </a>
                </div>

                <div class="about__img">
                    <div class="about__img-overlay">
                        <img src="img/connect.png" alt="" class="about__img-one">
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="about__container container grid">
                <div class="about__img">
                    <div class="about__img-overlay">
                        <img src="img/know_area.jpg" alt="" class="about__img-one">
                    </div>
                </div>
                <div class="about__data">
                    <h2 class="section__title about__title">Know Your Area Better</h2>
                    <p class="about__description">Get complete details of your vicinity such as information regarding
                        nearest Hospitals, Restaurants, Petrol Pumps, Vaccination Centers, Police Stations,
                        Entertainment Spots and many more.
                    </p>
                </div>
            </div>
            <br><br><br>
            <div class="about__container container grid">
                <div class="about__data">
                    <h2 class="section__title about__title">Share Your Updates</h2>
                    <p class="about__description">Post every single updates or activities happening in your area. Keep
                        your localiyos updated!!!
                    </p>
                    <a href="#" class="button">Post Now</a>
                </div>

                <div class="about__img">
                    <div class="about__img-overlay">
                        <img src="img/share_updates.jpg" alt="" class="about__img-one">
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="about__container container grid">

                <div class="about__img">
                    <div class="about__img-overlay">
                        <img src="img/trust_new.png" alt="" class="about__img-one">
                    </div>
                </div>
                <div class="about__data">
                    <h2 class="section__title about__title">You Can Trust Us</h2>
                    <p class="about__description">Get genuine information through Localiyo about your vicinity,
                        simultaneously maintaining privacy of your data.
                    </p>
                </div>
            </div>
        </section>

        <!--==================== VIDEO ====================-->
        <section class="video section">
            <h2 class="section__title">A Quick Glimpse</h2>

            <div class="video__container container">

                <div class="video__content">
                    <video muted id="video-file">
                        <source src="video/local-news.mp4" type="video/mp4">
                    </video>

                    <button class="button button--flex video__button" id="video-button">
                        <i class="ri-play-line video__button-icon" id="video-icon"></i>
                    </button>
                </div>
            </div>
        </section>

        <section class="aboutus section" id="aboutus">
            <h2 class="section__title">About Us</h2>

            <div class="about__container container">
                <div class="about__img">
                    <div class="about__img-overlay">
                        <img src="img/newlogo.png" alt="Localiyo" class="aboutus__img">
                    </div>
                </div>
                <div class="about__data">
                    <p class="about__description">Most people want to view news related to their Locality.
                        The news channels and their websites shows monotonous updates and news every now and then which
                        is tedious and irritating for most of us. Everyone wants news and updates related to their area.
                        So to overcome this problem, we have launched this web application <b>Localiyo</b> - Local Area
                        Updates.
                    </p>
                    <p class="about__description"> Using our web application - <b>Localiyo</b>, you can get every single
                        updates of your vicinity in just few clicks.
                        Also you can post your updates, connect and discuss with other Localiyos, know your locality
                        better. <b>Localiyo</b> is developed by Ritik Jain, Devendra Chauhan, Harsh Gupta and Ajay
                        Ajmera.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content grid">
                <div class="footer__data">
                    <h3 class="footer__title">Localiyo</h3>
                    <p class="footer__description">Get local news,<br> Know your area better
                        and<br>Share updates with others.
                    </p>
                    <div>
                        <a href="https://www.facebook.com/" target="_blank" class="footer__social">
                            <i class="ri-facebook-box-fill"></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="footer__social">
                            <i class="ri-twitter-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="footer__social">
                            <i class="ri-instagram-fill"></i>
                        </a>
                        <a href="https://www.youtube.com/" target="_blank" class="footer__social">
                            <i class="ri-youtube-fill"></i>
                        </a>
                    </div>
                </div>

                <div class="footer__data">
                    <h3 class="footer__subtitle">About</h3>
                    <ul>
                        <li class="footer__item">
                            <a href="#aboutus" class="footer__link">About Us</a>
                        </li>
                        <li class="footer__item">
                            <a href="#about" class="footer__link">Features</a>
                        </li>

                    </ul>
                </div>

                <div class="footer__data">
                    <h3 class="footer__subtitle">Contact Us</h3>
                    <ul>
                        <li class="footer__item">
                            <a href="" class="footer__link">support@localiyo.com </a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">+91 99999999XX</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Mumbai, India.</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__rights">
                <p class="footer__copy">&#169; 2021 Localiyo. All rights reserved.</p>
                <div class="footer__terms">
                    <a href="#" class="footer__terms-link">Terms & Agreements</a>
                    <a href="#" class="footer__terms-link">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>

    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line scrollup__icon"></i>
    </a>

    
    <!--=============== SCROLL REVEAL===============-->
    <script src="js/scrollreveal.min.js"></script>

    <!--=============== SWIPER JS ===============-->
    <script src="js/swiper-bundle.min.js"></script>
 
    <!--=============== MAIN JS ===============-->
    <script src="js/main.js"></script>
</body>

</html>